<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>RestAssured Package suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b3afbd">  <td>24/03/15 23:11:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_2.Executor()[pri:0, instance:TestPackage.Test_Case_2@4007f65e]">Executor</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="606dd5">  <td>24/03/15 23:11:27</td>   <td>-5245</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_Case_1.Executor()[pri:0, instance:TestPackage.Test_Case_1@4bdeaabb]">Executor</td> 
  <td>main@1510467688</td>   <td></td> </tr>
</table>
