<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>RestAssured Pojo suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e3b6f0">  <td>24/03/22 12:09:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_API_TC.Executor()[pri:0, instance:TestCase_Pojo.Patch_API_TC@66982506]">Executor</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="916da3">  <td>24/03/22 12:09:40</td>   <td>-5836</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_API_TC.Executor()[pri:0, instance:TestCase_Pojo.Post_API_TC@25be7b63]">Executor</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="d9a273">  <td>24/03/22 12:09:47</td>   <td>651</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_API_TC.Executor()[pri:0, instance:TestCase_Pojo.Put_API_TC@70cf32e3]">Executor</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="f981c6">  <td>24/03/22 12:09:49</td>   <td>2329</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_Annotation_Patch_API.evidenceCreator()[pri:0, instance:TestCase_Pojo.TestNG_Annotation_Patch_API@65f8f5ae]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="8ee4de">  <td>24/03/22 12:09:49</td>   <td>2335</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_Annotation_Post_API.evidenceCreator()[pri:0, instance:TestCase_Pojo.TestNG_Annotation_Post_API@72c8e7b]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="f981c6">  <td>24/03/22 12:09:40</td>   <td>-6340</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_Annotation_Patch_API.testSetUp()[pri:0, instance:TestCase_Pojo.TestNG_Annotation_Patch_API@65f8f5ae]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="8ee4de">  <td>24/03/22 12:09:40</td>   <td>-5887</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_Annotation_Post_API.testSetUp()[pri:0, instance:TestCase_Pojo.TestNG_Annotation_Post_API@72c8e7b]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="8ee4de">  <td>24/03/22 12:09:48</td>   <td>1259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Annotation_Post_API.validator()[pri:0, instance:TestCase_Pojo.TestNG_Annotation_Post_API@72c8e7b]">validator</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="f981c6">  <td>24/03/22 12:09:48</td>   <td>1725</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Annotation_Patch_API.validator()[pri:0, instance:TestCase_Pojo.TestNG_Annotation_Patch_API@65f8f5ae]">validator</td> 
  <td>main@1510467688</td>   <td></td> </tr>
</table>
