<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestNGAnnotation Example Suit</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d9a273">  <td>24/03/22 11:32:32</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_Annotation_Put_API.testSetUp()[pri:0, instance:TestPackage.TestNG_Annotation_Put_API@eadd4fb]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="916da3">  <td>24/03/22 11:32:32</td>   <td>44</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Annotation_Post_API.validator()[pri:0, instance:TestPackage.TestNG_Annotation_Post_API@673fdbce]">validator</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="e3b6f0">  <td>24/03/22 11:32:37</td>   <td>5096</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Annotation_Patch_API.validator()[pri:0, instance:TestPackage.TestNG_Annotation_Patch_API@4e5ed836]">validator</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="916da3">  <td>24/03/22 11:32:38</td>   <td>6221</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_Annotation_Post_API.evidenceCreator()[pri:0, instance:TestPackage.TestNG_Annotation_Post_API@673fdbce]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="e3b6f0">  <td>24/03/22 11:32:30</td>   <td>-1521</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_Annotation_Patch_API.testSetUp()[pri:0, instance:TestPackage.TestNG_Annotation_Patch_API@4e5ed836]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="d9a273">  <td>24/03/22 11:32:38</td>   <td>5768</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Annotation_Put_API.validator()[pri:0, instance:TestPackage.TestNG_Annotation_Put_API@eadd4fb]">validator</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="d9a273">  <td>24/03/22 11:32:38</td>   <td>6225</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_Annotation_Put_API.evidenceCreator()[pri:0, instance:TestPackage.TestNG_Annotation_Put_API@eadd4fb]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="916da3">  <td>24/03/22 11:32:30</td>   <td>-1490</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_Annotation_Post_API.testSetUp()[pri:0, instance:TestPackage.TestNG_Annotation_Post_API@673fdbce]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="e3b6f0">  <td>24/03/22 11:32:38</td>   <td>6217</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_Annotation_Patch_API.evidenceCreator()[pri:0, instance:TestPackage.TestNG_Annotation_Patch_API@4e5ed836]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="aea295">  <td>24/03/22 11:32:39</td>   <td>7041</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_DataProvider_Sameclass_Example.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.TestNG_DataProvider_Sameclass_Example@28cda624]">validator</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="aea295">  <td>24/03/22 11:32:40</td>   <td>7716</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_DataProvider_Sameclass_Example.evidenceCreator()[pri:0, instance:TestPackage.TestNG_DataProvider_Sameclass_Example@28cda624]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="aea295">  <td>24/03/22 11:32:39</td>   <td>7041</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_DataProvider_Sameclass_Example.validator(java.lang.String,java.lang.String)[pri:0, instance:TestPackage.TestNG_DataProvider_Sameclass_Example@28cda624]">validator</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="aea295">  <td>24/03/22 11:32:38</td>   <td>6290</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_DataProvider_Sameclass_Example.testSetUp()[pri:0, instance:TestPackage.TestNG_DataProvider_Sameclass_Example@28cda624]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
</table>
