<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestNGAnnotation</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="916da3">  <td>24/03/20 22:46:13</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;TestNG_Annotation_RestAsssured_Example.testSetUp()[pri:0, instance:TestPackage.TestNG_Annotation_RestAsssured_Example@710636b0]">&gt;&gt;testSetUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="916da3">  <td>24/03/20 22:46:15</td>   <td>1422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNG_Annotation_RestAsssured_Example.validator()[pri:0, instance:TestPackage.TestNG_Annotation_RestAsssured_Example@710636b0]">validator</td> 
  <td>main@1510467688</td>   <td></td> </tr>
<tr bgcolor="916da3">  <td>24/03/20 22:46:20</td>   <td>6361</td> <td>&nbsp;</td><td title="&lt;&lt;TestNG_Annotation_RestAsssured_Example.evidenceCreator()[pri:0, instance:TestPackage.TestNG_Annotation_RestAsssured_Example@710636b0]">&lt;&lt;evidenceCreator</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1510467688</td>   <td></td> </tr>
</table>
